*{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5{
    font-family: 'Oswald', sans-serif;
}

p,button,strong,a{
    font-family: 'Open Sans', sans-serif;
}
p{
    color: dimgray;
}


/* Navbar__style */

nav{
    height: 70px;

}
h1{
    font-size: 50px;
}
section{
height: 500px;
margin-bottom: 280px;
}
.website__border{
    width: 90%;
    margin: auto;
}
.navbar__menu ul{
    width: auto;
    float: right;
    padding: 10px;
}
.navbar__menu li{
    display: inline-block;
    padding: 15px 30px;
}
.navbar__menu a{
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}
/* 
section__style */



.common__content{
    width: 40%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;
}
.common__content img{
    width: 100%;
}
.common__color{
    color: #ff5252;
}
.common__content p{
    margin-top: 15px;
    margin-bottom: 35px;
    font-weight: 400;
}
.common__button{
    text-decoration: none;
    color: white;
    background: linear-gradient(180deg,#ff7575,#f64040);
    padding: 20px 25px;
    border-radius: 8px;
    font-weight: bold;
}

.top__padding{
    margin-top: 40px;
}

/* project work */


.heading__last h1{
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;
}

.project__box{
    background-color: white;
    width: 27%;
    float: left;
    border-radius: 12px;
    padding: 10px 10px 10px 10px;
    box-shadow: 10px 10px 20px#ddd;
    margin-left: 20px;
}
.project__box img{
    width: 100%;
}
.project__work{
    margin-left: 5%;
    padding-left: 1%;
}
.project__box h2,p{
    padding-bottom: 20px;
}
.last__header{
    background: #f8f8f8;
    height: 770px;
}





/* skill section */

.skill__header{
    text-align: center;
}
.skill__box{
    background-color: white;
    width: 22%;
    float: left;
    border-radius: 12px;
    padding: 10px 10px 10px 10px;
    box-shadow: 10px 10px 20px#ddd;
    margin-left: 20px;
    text-align: center;
}
.Tools{
    padding-top:200px;
}


/* work inquiry */

.work__bg{
    width: 800px;
    height: 200px;
    margin: auto;
    background: url("../img/Group_33094_1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.in{
    float: left;
    margin-top: 60px;
    margin-left: 50px;
    color: white;
}
.chat{
    float: left;
    margin-top: 90px;
    margin-left: 240px;
    color: white;
}

.Lets__chat{
    text-decoration: none;
    color: white;
    background: linear-gradient(180deg,#ff7575,#f64040);
    padding: 20px 25px;
    border-radius: 8px;
    font-weight: bold;
}
.stay__connected{
    text-align: center;
    padding-top: 100px;
}
.stay__connected p{
    font-size: 20px;
}
.stay__connected h2{
    font-size: 40px;

}
.icons__img{
    float: left;
    margin-left: 25px;
}
.icons__img img{
    width: 40px;
}
.icons{
    width: 200px;
    height: 50px;
    margin: auto;
}
.copy__right p{
    text-align: center;
    font-size: 15px;
}